@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-Gray: hsl(0, 0%, 55%);
  --very-Dark-gray: hsl(0, 0%, 41%);
  --ff-l: "Josefin Sans";
  --ff-d: "Alata";
}
body {
  min-height: 100vh;
}
.lead {
  font-family: var(--ff-d);
  font-weight: 400;
  color: var(--dark-Gray);
  font-size: 15px;
}
.mobile-header {
  display: none;
}
.header {
  background: url("./images/desktop/image-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
  z-index: -1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2); /* Black see-through */
  width: 100%;
  opacity: 1;
  font-size: 20px;
  padding: 20px;
  top: 0;
  height: 700px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.logo {
  margin-top: 4em;
  margin-left: -100px;
}
.desktop-nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
  margin-top: 4em;
}
a:hover {
  color: red;
}
li a {
  color: var(--White);
  font-family: var(--ff-d);
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--White);
  -moz-text-decoration-color: var(--White);
  text-decoration-thickness: 5px;
  transform: scaleX(1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.container {
  margin-top: 8em;
  margin-left: 10em;
  max-width: 650px;
  padding: 2rem;
  border: 2px solid var(--White);
}
.title {
  color: var(--White);
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--ff-l);
  font-weight: 300;
  letter-spacing: 4px;
}
.hero-section {
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  position: relative;
  z-index: -1;
}
.hero-content {
  position: absolute;
  z-index: 1;
  background: var(--White);
  top: 40%;
  left: 70%;
  width: 50%;
  height: 400px;
  padding: 2rem;
}
.hero-img {
  margin-left: 3em;
}
.main-heading h2 {
  font-size: 3rem;
  font-family: var(--ff-l);
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.creations-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 6em;
}
.creations-header h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--ff-l);
  color: var(--black);
  font-weight: 400;
}
.btn {
  border: 2px solid var(--black);
  padding: 0.6rem;
  width: 10%;
  background: transparent;
  color: var(--black);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: var(--ff-d);
}
.btn:hover {
  background: var(--black);
  color: var(--White);
  transition: 0.2s ease;
}
.gallery {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
}
.deep-earth {
  background: url("./images/desktop/image-deep-earth.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
  position: relative;
  z-index: -1;
}
.de-heading {
  font-size: 2rem;
  position: absolute;
  color: var(--White);
  margin-left: 2em;
  margin-bottom: 1em;
  width: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  bottom: 0;
  font-family: var(--ff-l);
  opacity: 1;
}
.na-heading,
.so-heading,
.tg-heading,
.fu-heading,
.po-heading,
.tc-heading,
.mi-heading {
  position: relative;
  bottom: 0%;
  margin-top: 9.6em;
  margin-left: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
  color: var(--White);
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: var(--ff-l);
}
.night-arcade {
  background: url("./images/desktop/image-night-arcade.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.soccer {
  background: url("./images/desktop/image-soccer-team.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.the-grid {
  background: url("./images/desktop/image-grid.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.from-up {
  background: url("./images/desktop/image-from-above.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.pocket {
  background: url("./images/desktop/image-pocket-borealis.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.the-curosity {
  background: url("./images/desktop/image-curiosity.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}
.make-it {
  background: url("./images/desktop/image-fisheye.jpg") no-repeat;
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 300px;
}

.deep-earth:hover,
.night-arcade:hover,
.soccer:hover,
.the-grid:hover,
.from-up:hover,
.pocket:hover,
.the-curosity:hover,
.make-it:hover {
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  position: relative;
  height: 400px;
  width: 300px;
  z-index: -2;
  opacity: 0.5;
  cursor: pointer;
}
.de-heading:hover,
.na-heading:hover,
.so-heading:hover,
.tg-heading:hover,
.fu-heading:hover,
.po-heading:hover,
.tc-heading:hover,
.mi-heading:hover {
  color: var(--black);
  opacity: 1;
  z-index: 1;
  position: absolute;
}

footer {
  background: var(--black);
  color: var(--White);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-top: 3em;
}
.right-sec {
  margin-left: 2em;
  line-height: 2.2;
}
.footer-logo img {
  width: 120px;
  height: 30px;
}
.footer-nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.8em;
}
.social-icons img {
  width: 18px;
  height: 18px;
}
.left-sec {
  line-height: 2.8;

  padding: 1rem;
}
.copyright p {
  color: var(--dark-Gray);
  font-size: 0.9rem;
  font-family: var(--ff-d);
}
/* mobile-menu */

.show {
  display: flex;
  transition: 0.5s;
}

.m-header-logo {
  width: 80px;
  height: 60px;
}
.ham {
  display: none;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  background: var(--black);
  min-height: 100vh;
  top: 0;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  right: 0;
  width: 400px;
  transition: 0.3s ease-in-out;
  margin-left: 2em;
}
.mobile-logo {
  display: flex;
  justify-content: space-between;
  gap: 6em;
  margin-top: 2em;
}
#close {
  background: transparent;
  outline: none;
  border: 1px solid black;
  display: block;
}
button {
  cursor: pointer;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5em;
  text-transform: uppercase;
  line-height: 2.2;
  margin-left: -150px;
}
.mobile-nav li a {
  font-size: 1.6rem;
  font-family: var(--ff-l);
}
@media (max-width: 768px) {
  .mobile-header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  #ham {
    display: block;
    background: transparent;
    border: none;
  }
  .header {
    background: url("./images/mobile/image-hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    z-index: -1;
  }
  .nav,
  .overlay {
    display: none;
  }
  .container {
    margin-top: 10em;
    margin-left: 1em;
    max-width: 300px;
    padding: 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
  }
  .hero-img {
    margin-left: 2em;
  }
  .hero-img img {
    width: 300px;
    height: 200px;
  }
  .hero-content {
    position: relative;
    background: var(--White);
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    padding: 2rem;
    text-align: center;
  }
  .main-heading h2 {
    font-size: 2rem;
    font-family: var(--ff-l);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .creations-header {
    flex-direction: column;
    margin-top: 1em;
  }
  .creations-header h2 {
    font-size: 1.8rem;
  }
  .btn {
    width: 30%;
    margin-top: 2em;
  }
  .gallery {
    grid-template-columns: 1fr;
    max-width: 400px;
    place-items: center;
    gap: 0em;
  }
  .deep-earth {
    background: url("./images/mobile/image-deep-earth.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .de-heading {
    font-size: 1rem;
    position: relative;
    margin-left: 1em;
    margin-bottom: 0em;
    bottom: 0;
    top: 50%;
  }
  .na-heading,
  .so-heading,
  .tg-heading,
  .fu-heading,
  .po-heading,
  .tc-heading,
  .mi-heading {
    position: relative;
    bottom: 0%;
    margin-top: 9.6em;
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 1rem;
    color: var(--White);
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: var(--ff-l);
  }
  .night-arcade {
    background: url("./images/mobile/image-night-arcade.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .soccer {
    background: url("./images/mobile/image-soccer-team.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .the-grid {
    background: url("./images/mobile/image-grid.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .from-up {
    background: url("./images/mobile/image-from-above.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .pocket {
    background: url("./images/mobile/image-pocket-borealis.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .the-curosity {
    background: url("./images/mobile/image-curiosity.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  .make-it {
    background: url("./images/mobile/image-fisheye.jpg") no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    width: 300px;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0 auto;
  }
  .footer-nav ul {
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }
  .social-icons {
    justify-content: center;
  }
  .right-sec {
    margin-left: 0em;
    margin-top: 3em;
  }
}
